@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: SantEliaScriptBold;
  src: url("./fonts/SantEliaScriptBoldDEMO.otf") format("opentype"); }
html {
  background-color: black;
  --background_color: white;
  --font_header_color: #79afc8;
  --font_header_type: SantEliaScriptBold;
  --background_button_submit_color_unchecked: #79afc8;
  --background_button_submit_color_checked: #c81e33; }
  html body {
    background-color: white;
    margin: auto;
    width: 1080px;
    height: 1920px; }
    html body header {
      height: 550px; }
      html body header .header_container {
        box-sizing: border-box;
        text-align: center;
        padding: 70px;
        width: 100%;
        height: 100%; }
        html body header .header_container .header_logo_image_container {
          width: 348px;
          height: 348px;
          margin: auto 0;
          float: left; }
          html body header .header_container .header_logo_image_container img {
            width: 348px;
            height: 348px; }
        html body header .header_container .header_logo_text_container {
          margin-left: 40px;
          float: left; }
          html body header .header_container .header_logo_text_container .header_logo_text {
            text-align: center;
            font-family: var(--font_header_type);
            color: var(--font_header_color);
            width: 550px;
            font-size: 55pt;
            transform: rotate(-3deg);
            line-height: 80px; }
            html body header .header_container .header_logo_text_container .header_logo_text .header_logo_lext_special_character {
              font-family: sans-serif; }
    html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container {
      width: 360px;
      height: 457px;
      float: left; }
      html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container input, html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container img {
        position: absolute;
        cursor: pointer; }
      html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container .main_voting_panel_form_description {
        display: none;
        float: left;
        width: 360px;
        height: 457px;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding: 80px;
        margin: 0;
        z-index: 10;
        background-color: rgba(10, 10, 10, 0.6); }
        html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container .main_voting_panel_form_description .main_voting_panel_form_description_container {
          height: 200px;
          margin-top: 90px; }
          html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container .main_voting_panel_form_description .main_voting_panel_form_description_container .main_voting_panel_form_description_button_choosed {
            border: 3px solid white;
            padding: 15px 40px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 900;
            color: white; }
          html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_input_container .main_voting_panel_form_description .main_voting_panel_form_description_container .main_voting_panel_form_description_text {
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            color: white;
            margin-top: 60px; }
    html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_submit_button_container {
      width: 360px;
      height: 457px; }
      html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_submit_button_container .main_voting_panel_form_submit_button {
        width: 300px;
        height: 397px;
        margin: 30px 30px;
        cursor: pointer; }
        html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_submit_button_container .main_voting_panel_form_submit_button .form_submit_button_text {
          transform: rotate(-3deg);
          cursor: pointer; }
      html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_submit_button_container .main_voting_panel_form_submit_button_checked {
        box-sizing: border-box;
        font-family: var(--font_header_type);
        color: white;
        background-color: var(--background_button_submit_color_checked);
        font-size: 35pt;
        transition: 1s all; }
      html body main section .main_voting_panel .main_voting_panel_form .main_voting_panel_form_submit_button_container .main_voting_panel_form_submit_button_unchecked {
        box-sizing: border-box;
        font-family: var(--font_header_type);
        color: white;
        background-color: var(--background_button_submit_color_unchecked);
        font-size: 35pt;
        transition: 1s all; }

/* Styles for thanks section of the website */
.thanks_container {
  position: absolute;
  top: 0;
  display: none;
  width: 1080px;
  height: 1920px;
  background-image: url("../images/background_mak.png");
  padding: 455px 0;
  box-sizing: border-box;
  z-index: 30; }

.thanks_container .thanks_background {
  width: 1080px;
  height: 1920px; }

.thanks_container .thanks_background_img {
  width: 1080px;
  height: 1920px; }

.thanks_container .thanks_content {
  width: 1080px; }

.thanks_container .thanks_content .thanks_logo_container {
  padding: 0 165px; }

.thanks_container .thanks_content .thanks_text .thanks_text_text {
  font-size: 120px;
  margin-top: 45px;
  text-align: center;
  font-family: var(--font_header_type);
  color: var(--font_header_color);
  transform: rotate(-3deg); }

.font_specialCharacter {
  font-family: "Arial Black"; }

/*# sourceMappingURL=mainPageStyles.css.map */
